# Vault listeners
{% include "listener/" + vault_server_protocol | lower + ".j2" with context -%}
#
# Vault storage
{% include "storage/" + vault_storage | lower + ".j2" with context -%}
#
disable_mlock = true
ui = "{{ vault_ui_enabled }}"
